@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 30 80% 95%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 30 80% 95%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 30 80% 92%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 60% 90%;
    --input: 30 60% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 30 80% 92%;
    --sidebar-accent-foreground: 24 9.8% 10%;
    --sidebar-border: 30 60% 90%;
    --sidebar-ring: 24.6 95% 53.1%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 24 9.8% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 24 9.8% 10%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 24 9.8% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 9.8% 10%;
    --input: 24 9.8% 10%;
    --ring: 24.6 95% 53.1%;
    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 24.6 95% 53.1%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 24 9.8% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 24 9.8% 10%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
